<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <title>Mercy Cardiology Weight Alert Call</title>
    </head>
    <body>
        <h1> Mercy Cardiology Demo</h1>
        
        <form action="/call" method="post">
            From: <input type="text" name="From"><br><br>
            To: <input type="text" name="To"><br><br>
            <input type="submit" value="Place Call" style="font-size:10pt;color:white;background-color:green;border:2px solid #336600;padding:10px">
        </form>
        <p>{{ message }}</p>
    </body>
</html>